.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Adjust to your needs */
  padding: 20px;
  .title {
    font-size: clamp(28px, 7vw, 40px);
    font-weight: bold;
  }
}